*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1{ /* tittle*/
    width: 100%;
    background:white; /* background colour*/
    padding: 16px 40px;
    text-align: center;
    color: #000;
    font-size:40px;
    font-family: sans-serif;/*font style*/
}

.nav-menu{
    width: 100%;
    padding: 0;
}
.nav-menu ul{
    display: flex;
    justify-content: center;
    line-height: 2em;

}

.nav-menu ul li{
    padding: 0px 20px;
    color: black;
    font-size: 20px;
    list-style-type: none;
    cursor: pointer;
    text-align: left;
}

.nav-menu ul li:hover{ /*hover ( changing the color*/
    color: rgba(226, 25, 25, 0.788);
}

/*style for responsive menu for tablets, Ipads*/

@media screen and ( min-width:768px) and ( max-width:1024px){
    
} 
 .nav .nav-menu{
       width: 100%;
   }
   .nav .nav-menu ul{
       justify-content: space-around;
       text-align: center;
       width:100%;
   }
   .nav .nav-menu ul li{
       width:100%;
       padding: 10px 0px;
       text-align: center;
       font-size: 20px;
       justify-content: space-around;
       display:flex;
       flex-direction: row;
       
   }
   .footer{/* styles for footer*/
    justify-content: space-around;
    text-align: center;
    width: 100%;

   }
   .article1{/* this is used for tutorials page*/
    width:150%;
    text-align: left;
    
}

 .glossary{ /* glossary page*/
    width: 100%;
    text-align: left;
    height: auto;
 }

 .video{ /* this for video*/
    width: 100%;
 }
 
 .section{ /* this for reviews*/
 width: 100%;
 text-align: left;
 flex-direction: row;
 }

 .box{ /* this for job page*/
width: 100%;
text-align: left;
flex-direction: row;
 }
 .home{ /* this for home page*/
width: 100%;
text-align: left;
 }
 /* end of the media queries */
 
.footer{ /* styles for footer*/
background:black;
bottom: 0%;
left: 0;
position: fixed;
right: 0;
color:white;
font-size: 16px; /*font styles*/
font-family: sans-serif;
}
.glossary{ /* glossary page*/
width: 100%;
height: 500px;
overflow-y:auto; /* scrolling bar*/
padding: 0px 30px 0px 15px;
columns: 2;
flex-direction: row;
text-align: left;
font-size: 16px;
font-family:sans-serif; /*font styles*/
}


p{
font-family: sans-serif;/* this font is used for paragraph*/
}


.li{
font-family: sans-serif;/*this font is used for bullets point and navigation*/

}

.article1{ /* this is used for tutorials page*/
width: 100%;
height: 400px;
padding: 0px 30px 0px 15px;
flex-direction: row;
text-align: left;
font-size: 16px;
margin-left: 5px;
margin-bottom: 40px;
font-family: sans-serif;

}

.video{ /* this for video*/
width: 100%;
height:0%;
justify-content: center;
display:flex;
flex-direction: row;


}
section{ /* this for reviews*/
width: 100%;
height: auto;
padding: 0px 30px 0px 15px;
flex-direction:row;
text-align:left;
font-size:16px;
margin-bottom:10vh;
font-family: sans-serif;
}

.box{ /* this for job page*/
width: 100%;
height: auto;
padding: 0px 30px 0px 15px;
flex-direction: row;
text-align: left;
font-size: 16px;
margin-left: 5px;
margin-bottom: 10vh;
font-family: sans-serif;
}
.home{ /* this for home page*/
width: 100%;
height: auto;
padding: 0px 30px 0px 15px;
flex-direction: row;
text-align: left;
font-size: 16px; /* size of the text*/
margin-left: 5px;
margin-bottom: 40px;
font-family: sans-serif;
}

/* mobile phones, screen size= 481px to 767px */
@media (min-width:481px) and (max-width:767px) {
    
    }
    .nav{
    text-align: center;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    }
 
    .nav .nav-menu{
        width: 100%;
    }
    .nav .nav-menu ul{
        justify-content: space-around;
        text-align: left;
    }
    .nav .nav-menu ul li{
        width: 100%;
        padding: 10px 0px;
        text-align:left;
        font-size: 16px;
     
    }
    .footer{ /* styles for footer*/
     justify-content: space-around;
     text-align: center;
     width: 100%;
 
    }
    .article{ /* this is used for tutorials page*/
     width:100%;
     text-align: left;
     
 }
 
  .glossary{ /* glossary page*/
     width: 100%;
     text-align: left;
     flex-direction: row;
  }
 
  .video{  /* this for video*/
     width: 100%;
  }
  
  .section{ /* this for reviews*/
  width: 100%;
  text-align: left;
  flex-direction: row;
  }
 
  .box{ /* this for job page*/
 width: 100%;
 text-align: left;
  }
  .home{ /* this for home page*/
 width: 100%;
 text-align: left;
 height: auto;
  }
  /* end of the media queries */
